/* Styles and colors */
:root {
    --white:#fff;
    --offwhite:#FAF9F6;
    --black:#000;
    --gray:#D3D3D3;
    --test1:#C8A2C8;
    --test2:#00FFFF;
    --test3:#66ff00;
    --test4:#FF5C00;
    --clear:transparent;
}

/* Gives the option to switch between light and dark mode */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

@media (prefers-color-scheme: dark) {
  :root {
    --text: #FAF9F6;
    --bg: #000;
  }
}

@media (prefers-color-scheme: dark) {
    .theme-a.adaptive {
      background: black;
      color: var(--text);
      outline: 5px dashed #000;
    }
  }
  /* Overlay darkener */
  .overlay{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.65);
    filter: brightness(50%);
  }

/* Body Info */
body {
    font-family: "Lexend", sans-serif;
    background-size: 100%;
    background-color: var(--bg);
    color: var(--text);
    text-align: center;
}

/* lets the page fit screen sizes */
.wrapper-head{
    line-height: 1em;
    margin: auto;
    text-align: center;
}

/* Header 1 Info */
h1 {
    padding-top: .5em;
    word-spacing: -.15em;
    font-size: 5.5em;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

/* Header 2 Info */
h2{
    line-height: 1em;
    font-size: 1.5em;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/* Header 3 Info */
h3{
    line-height: .25em;
    font-size: 1em;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
p{
    margin: auto;
    max-width: 75%;
    text-align: left;
    font-size: 1.25em;
    padding-bottom: 25px;
}

p a{
    color: var(--text);
}

video {
    max-width: 75%;
}

.jeffpark{
    color: var(--offwhite);
}

.disclaimer p{
    padding-top: 25px;
    text-align: center;
}

.typewrite{
    padding-top: 10%;
    display: flex;
    justify-content: center;
}

.button_intro{
    padding-top: 25px;
}

.button_intro a{
    border: solid var(--white) 2px;
    transition-duration: 0.4s;
    text-decoration: none;
    color: var(--white);
    border-radius: 15px;
    padding: 16px 64px;
}

.button_intro a:hover{
    color: black;
    background-color: white;
}

.google-maps{
    padding-bottom: 25px;
}

.google-maps iframe{
    border-radius: 15px;
}

.footer{
    font-size: .75em;
    line-height: 0em;
    color: var(--text);
    position: fixed;
    bottom: 10;
    left: 0;
    width: 100%;
    text-align: center;
    margin: auto;
}

.footer p{
    margin: auto;
    max-width: 90%;
    text-align: center;
    font-size: 1em;
}

.footer a{
    color: var(--text);
}

.footer-back{
    word-spacing: 0em;
    padding-bottom: 50px;
    left: 0;
    width: 100%;
    text-align: center;
    margin: auto;
  }

  .facts img{
    background-color: var(--offwhite);
    max-height: 75vh;
    max-width: 75vw;
  }

  .facts video{
    height: 75vh;
  }

/* Contents page */
.contents{
    margin: auto;
    color: var(--offwhite);
}

/* Removes the random padding for bullet points */
ul{
    padding: 0;
}

.contents ul{
    list-style-type: none;
    text-align: center;
}

li a{
    text-decoration: none;
    color: var(--offwhite);
    padding: 0 2px;
    margin: 0 30px;
    position: relative;
    font-size: 2em;
}
li a:after {
    background: none repeat scroll 0 0 transparent;
    content: "";
    display: block;
    height: 3px;
    left: 0%;
    position: absolute;
    background: var(--offwhite);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

li a:hover:after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--offwhite);
  }

/* The next and back links */
nav{
    padding-bottom: 30px;
}
nav a{
    text-decoration: none;
    color: var(--text);
    padding: 0 2px;
    margin: 0 30px;
    position: relative;
    font-size: 1.25em;
  }

  nav a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: -2px;
    content: "";
    display: block;
    height: 3px;
    left: 0%;
    position: absolute;
    background: var(--text);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  nav a:hover:after{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--text);
  }

/* -- Break points. This lets different devices see the page without any issues -- */
/* Extra small devices (phones, 600px and down to 320px) */
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 3em;
        line-height: 1em;
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: normal;
    }
    h2{
        font-size: 1.5em;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
    }
    body{
        background-size: 700%;
        background-position: center;
    }
    .footer{
        font-size: .5em;
        line-height: 1em;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    h1 {
        font-size: 3em;
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: normal;
    }
    h2{
        font-size: .92em;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
    }
    body{
        background-size: 300%;
        background-position: center;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    h1 {
        font-size: 4em;
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: normal;
    }
    h2{
        font-size: 1.23em;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
    }
    body{
        background-size: 250%;
        background-position: center;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    h1 {
        font-size: 5em;
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: normal;
    }
    h2{
        font-size: 1.54em;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
    }
    body{
        background-size: 200%;
        background-position: center;
    }
}

/* Extra large devices (large laptops and desktops, 1200 and up) */
@media only screen and (min-width: 1200px) {
    h1 {
        font-size: 6.5em;
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: normal;
    }
    h2{
        font-size: 2em;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
    }
    body{
        background-size: 175%;
        background-position: center;
    }

}
